# Python cache
__pycache__/
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Compiled Python files
*.pyc
*.pyo
*.pyd
__pycache__/

# Build directories
build/
dist/
*.egg-info/


# Package distribution
*.egg
*.egg-info

# IDE and editor files
.vscode/
.idea/
*.iml
*.iws
*.ipr

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Datasets and partitions
dataset/
datasets/
partition_data/