name: SAR tests

on:
  pull_request:
     branches: [main]
  workflow_dispatch:

jobs:
  sar_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Pull SAR
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          python -m pip install pytest
          # oneccl_bind_pt for torch 2.0.0 and python 3.10
          wget https://intel-extension-for-pytorch.s3.amazonaws.com/torch_ccl/cpu/oneccl_bind_pt-2.0.0%2Bcpu-cp310-cp310-linux_x86_64.whl
          python -m pip install oneccl_bind_pt-2.0.0+cpu-cp310-cp310-linux_x86_64.whl
          python -m pip install -e . "torch==2.0.0"

      - name: Run pytest
        run: |
          set +e
          python -m pytest tests/ -sv
